<div class="row">
    <form>
      <div class="form-group">
        <label for="name">Nome e Cognome</label>
        <input type="text" class="form-control" id="name"  placeholder="Mario Rossi">
      </div>
    </form>
  </div>
</div>


