<div class="row">
    <form action="/concorrenti" method="POST">
      <div class="form-group">
        <label for="name">Nome e Cognome</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Mario Rossi">
      </div>
      <div class="form-group">
        <label for="codice">Codice</label>
        <input type="text" class="form-control" id="codice" name="codice" placeholder="112">
      </div>
      <div class="form-group">
        <label for="turno">Turno</label>
        <input type="text" class="form-control" id="turno" name="turno" placeholder="A">
      </div>
      <button class="btn btn-primary" type="submit">Salva</button>
    </form>
  </div>
</div>


