<div class="row">
    <form action="/gara" method="POST">
      <div class="form-group">
        <label for="codice">Codice</label>
        <input type="text" class="form-control" id="codice" name="codice" placeholder="112">
      </div>
      <div class="form-group">
        <label for="ripetute">Ripetute</label>
        <input type="text" class="form-control" id="ripetute" name="ripetute" placeholder="15">
      </div>
      <div class="form-group">
        <label for="peso">Peso</label>
        <input type="text" class="form-control" id="peso" name="peso" placeholder="30">
      </div>
      <button class="btn btn-primary" type="submit">Salva</button>
    </form>
  </div>
</div>


